# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environment
venv/
.env

# SQLite database
db.sqlite3

# Django static files
staticfiles/
static/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
